
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    text-align: center;
    margin: 20px 0;
}

h1 {
    color: #2e8b57;
}

#content {
    width: 90%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.section {
    margin: 20px 0;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.schedule-table th, .schedule-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

#calculator input {
    margin-right: 10px;
    padding: 5px;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}

.image {
    text-align: center;
    margin-top: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
#poem {
    text-align: center;
}